{% include 'includes/header.html' %}

<tr>
  <td colspan="3"><table border="0" cellpadding="0" cellspacing="0" class="box">
          <tr>
            <td class="boxtl">&nbsp;</td>
            <td class="boxh">&nbsp;</td>
            <td class="boxtr">&nbsp;</td>
          </tr>
          <tr>
            <td class="boxl">&nbsp;</td>
            <td class="boxfill"><div class="grid_6">
<div id="description">
<h2>Description of LncRnas</h2>
<p>Central South University (CSU) is a comprehensive and national key university under the direct administration of the Ministry of Education in China. CSU was established in April, 2000 on the basis of the amalgamation of the three former individual universities, namely Central South University of Technology, Hunan Medical University and Changsha Railway University. CSU is situated in Changsha, Hunan. Gao Wenbing is secretary of the Communist Party of China's CSU Committee, and Prof.Zhang Yaoxue, an academician of Chinese Academy of Engineering, is president of CSU.</p>
<p>CSU is among the 32 universities first acceded to the "211 Project". CSU covers an area of 3,360,000 square meters and has a total floor space of 1,980,000 square meters.It also uses advanced teaching and research equipment with a total value of 930 million yuan (RMB). The university libraries have a collection of 4,444,900 volumes. </p>
</div>

</div>
</td>
            <td class="boxr">&nbsp;</td>
          </tr>		  
          <tr>
            <td class="boxbl">&nbsp;</td>
            <td class="boxb">&nbsp;</td>
            <td class="boxbr">&nbsp;</td>
          </tr>         
        </table></td>
</tr>

{% include 'includes/footer.html' %}
