{% include 'includes/header.html' %}
{% if selectedGenes %}
  {% for gene in selectedGenes%}
   <h1>{{gene.officalSymbal}}</h1>
   <ul>
   <li>Gene ID: {{gene.geneId}}</li>
   <li>Official Full Name: {{gene.officalFullName}}</li>
   <li>Aliases: {{gene.otherAliases}}</li>
   <li>Type: {{gene.geneType}}</li>
   <li>Organism: {{gene.organism}}</li>
   <li>Chromosome: {{gene.chromosome}}</li>
   <li>Localtion: {{gene.location}}</li>
   <li>Summary: {{gene.summary}}</li>
   </ul>
{% endfor%}
{% else %}
    <h1>No datas are available.</h1>
{% endif %}
{% include 'includes/footer.html' %}
