{% include 'includes/header.html' %}

<div class="grid_12" id="GeneList_Text">
<img src='{{ STATIC_URL }}images/chromosome.gif' width="760px"/>
</div>

<div class="grid_12">
<form action="/GeneList/" method="post">{% csrf_token %}
   <font size="+2">GeneList</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <input type="text" name="search" id="search" value="" />
   <input type="submit" value="submit" />
</form>
</div>

<div class="grid_12" id="GeneList_id1">
{% if fullGene %}
     <table>
      {% for ost in items.object_list %}
          <tr>
            <td>{{ ost.geneId }}</td>
            <td><a href="{{ost.officalSymbal}}">{{ost.officalSymbal}}</a></td>
            <td>{{ost.officalFullName}}</td>
            <td>{{ost.otherAliases}}</td>
          </tr>
       {% endfor %}
     </table>
{% else %}
    <p>No datas are available.</p>
{% endif %}
  <div class="pagination">
    <span class="step-links">
        {% if items.has_previous %}
            <a href="?page={{ items.previous_page_number }}&search={{search}}">previous</a>
        {% endif %}
 
        <span class="current">
            Page {{ items.number }} of {{ items.paginator.num_pages }}.
        </span>
 
        {% if items.has_next %}
            <a href="?page={{ items.next_page_number }}&search={{search}}">next</a>
        {% endif %}
    </span>
  </div>
</div>

{% include 'includes/footer.html' %}
