{% include 'includes/header.html' %}
<tr>
  <td colspan="3"><table border="0" cellpadding="0" cellspacing="0" class="box">
          <tr>
            <td class="boxtl">&nbsp;</td>
            <td class="boxh">&nbsp;</td>
            <td class="boxtr">&nbsp;</td>
          </tr>
          <tr>
            <td class="boxl">&nbsp;</td>
            <td class="boxfill">{% if selectedGenes %}
  <table border="1" align="center" class="datatable">
  {% for gene in selectedGenes%}
    <tr><td>officalSymbal</td><td>{{gene.officalSymbal}}</td></tr>
    <tr><td>Gene ID</td><td>{{gene.geneId}}</td></tr>
    <tr><td>Official Full Name</td><td>{{gene.officalFullName}}</td></tr>
    <tr><td>Aliases</td><td>{{gene.otherAliases}}</td></tr>
    <tr><td>Type</td><td>{{gene.geneType}}</td></tr>
    <tr><td>Organism</td><td>{{gene.organism}}</td></tr>
    <tr><td>Chromosome</td><td>{{gene.chromosome}}</td></tr>
    <tr><td>Localtion</td><td>{{gene.location}}</td></tr>
   {% endfor%}
   </table>
{% else %}
    <h1>No datas are available.</h1>
{% endif %}
</td>
            <td class="boxr">&nbsp;</td>
          </tr>		  
          <tr>
            <td class="boxbl">&nbsp;</td>
            <td class="boxb">&nbsp;</td>
            <td class="boxbr">&nbsp;</td>
          </tr>         
        </table></td>
</tr>
{% include 'includes/footer.html' %}
