{% include 'includes/header.html' %}
<div id="global_top1">
</div>

<div id="global_top3">
</div>

<div id="GeneList_Text">
   <font size="+2">GeneInformation</font>
</div>

<div id="GeneList_id1">
{% if selectedGenes %}
  <table border="1" align="center">
  {% for gene in selectedGenes%}
    <tr><td>officalSymbal</td><td>{{gene.officalSymbal}}</td></tr>
    <tr><td>Gene ID</td><td>{{gene.geneId}}</td></tr>
    <tr><td>Official Full Name</td><td>{{gene.officalFullName}}</td></tr>
    <tr><td>Aliases</td><td>{{gene.otherAliases}}</td></tr>
    <tr><td>Type</td><td>{{gene.geneType}}</td></tr>
    <tr><td>Organism</td><td>{{gene.organism}}</td></tr>
    <tr><td>Chromosome</td><td>Chromosome</td></tr>
    <tr><td>Localtion</td><td>{{gene.location}}</td></tr>
   {% endfor%}
   </table>
{% else %}
    <h1>No datas are available.</h1>
{% endif %}
</div>

<div id="global_bottom">
Developed by <a href="http://www.csu.edu.cn">Central South University</a>.
</div>
