{% include 'includes/header.html' %}


<div class="grid_6">
<div id="description">
<h2>Description</h2>
<p>The Human OsteoSarcoma DataBase is a bioinformatics resource that collects and integrates data about genes, miRNAs, LncRNAs and Pathways which have been reported in literature to be altered in human osteosarcomas.</p>
</div>
<div id="news">
<h2>News</h2>
<ol>
<li>HOSDB project is under development.</li>
<li>HOSDB project is under development.</li>
<li>HOSDB project is under development.</li>
</ol>
</div>
</div>

<div class="grid_6">
<div id="links">
<h2>Links</h2>
<ul>
<li>Central South University</li>
<li>Xiangya Medical School</li>
<li>School of Information Science and Engineering</li>
</ul>
</div>
</div>

{% include 'includes/footer.html' %}
