{% include 'includes/header.html' %}


<tr>
  <td colspan="3"><table border="0" cellpadding="0" cellspacing="0" class="box">
          <tr>
            <td class="boxtl">&nbsp;</td>
            <td class="boxh">&nbsp;</td>
            <td class="boxtr">&nbsp;</td>
          </tr>
          <tr>
            <td class="boxl">&nbsp;</td>
            <td class="boxfill"><div class="grid_6">
<div id="description">
<h2>Osteosarcoma</h2>
<p>Osteosarcoma is the most common pediatric bone malignancy in the world. Fifty years ago, surgery was the only available treatment, and survival was abysmal at less than 20%. Treatment of patients with osteosarcoma was transformed in the 1980s and 1990s with advances in chemotherapy and orthopedic surgical techniques, leading to long-term survival rates that now approach 70%. Unfortunately, further increases in survival have not occurred in the last decade despite numerous trials targeting increased intensities of chemotherapy treatments and use of new chemotherapeutic agents. Compounding the problem is that the molecular basis underlying metastatic disease is poorly understood. Therefore further focus on the natural history and biology of osteosarcoma may be necessary to improve our therapeutic approaches.</p>
</div>

</div>
</td>
            <td class="boxr">&nbsp;</td>
          </tr>		  
          <tr>
            <td class="boxbl">&nbsp;</td>
            <td class="boxb">&nbsp;</td>
            <td class="boxbr">&nbsp;</td>
          </tr>         
        </table></td>
</tr>

<tr>
  <td colspan="3"><table border="0" cellpadding="0" cellspacing="0" class="box">
          <tr>
            <td class="boxtl">&nbsp;</td>
            <td class="boxh">&nbsp;</td>
            <td class="boxtr">&nbsp;</td>
          </tr>
          <tr>
            <td class="boxl">&nbsp;</td>
            <td class="boxfill"><div class="grid_6">
<div id="news">
<h2>iHOSdb</h2>
<p>To facilitate identification of common alterations that might embrace oncogenic or tumor suppressive genes in human osteosarcoma, we have concluded numerous genomic data sets, microRNA data sets, references about human osteosarcoma and established the integrated human osteosarcoma database: IHOSDB. We displayed multiple dimensional data of osteosarcoma somatic alterations including alternations of genes, microRNAs, and pathways from osteosarcoma literatures and GEO Datasets. SNPs and LncRNAs about osteosarcoma are not in concluded in our database, because there are few valuable data.</p>
</div>
</div>
</td>
            <td class="boxr">&nbsp;</td>
          </tr>		  
          <tr>
            <td class="boxbl">&nbsp;</td>
            <td class="boxb">&nbsp;</td>
            <td class="boxbr">&nbsp;</td>
          </tr>         
        </table></td>
</tr>


<tr>
  <td colspan="3"><table border="0" cellpadding="0" cellspacing="0" class="box">
          <tr>
            <td class="boxtl">&nbsp;</td>
            <td class="boxh">&nbsp;</td>
            <td class="boxtr">&nbsp;</td>
          </tr>
          <tr>
            <td class="boxl">&nbsp;</td>
            <td class="boxfill">
<div class="grid_6">
<div id="links">
<h2>Links</h2>
<ul>
<li><a href="http://www.csu.edu.cn">Central South University</a></li>
<li><a href="http://www.xyeyy.com">Xiangya 2nd Hospital of CSU</a></li>
<li><a href="http://sise.csu.edu.cn">School of Information Science and Engineering</a></li>
<li><a href="http://hosdb.com:8080/DoHO_final/frontPage/en_home.action" target="_blank">Case Database Of Human Osteosarcoma</a></li>
</ul>
</div>
</div></td>
            <td class="boxr">&nbsp;</td>
          </tr>		  
          <tr>
            <td class="boxbl">&nbsp;</td>
            <td class="boxb">&nbsp;</td>
            <td class="boxbr">&nbsp;</td>
          </tr>         
        </table></td>
</tr>

{% include 'includes/footer.html' %}
