{% include 'includes/header.html' %}
<tr>
  <td colspan="3"><table border="0" cellpadding="0" cellspacing="0" class="box">
          <tr>
            <td class="boxtl">&nbsp;</td>
            <td class="boxh">&nbsp;</td>
            <td class="boxtr">&nbsp;</td>
          </tr>
          <tr>
            <td class="boxl">&nbsp;</td>
            <td class="boxfill"><div class="grid_6">
<div id="description">
<h2>Description of MiRnas</h2>
<p>The Human OsteoSarcoma DataBase is a bioinformatics resource that collects and integrates data about genes, miRNAs, LncRNAs and Pathways which have been reported in literature to be altered in human osteosarcomas.</p>
</div>

</div>
</td>
            <td class="boxr">&nbsp;</td>
          </tr>		  
          <tr>
            <td class="boxbl">&nbsp;</td>
            <td class="boxb">&nbsp;</td>
            <td class="boxbr">&nbsp;</td>
          </tr>         
        </table></td>
</tr>
<tr>
  <td colspan="3"><table border="0" cellpadding="0" cellspacing="0" class="box">
          <tr>
            <td class="boxtl">&nbsp;</td>
            <td class="boxh">&nbsp;</td>
            <td class="boxtr">&nbsp;</td>
          </tr>
          <tr>
            <td class="boxl">&nbsp;</td>
            <td class="boxfill">
{% if fullGene %}
     <table class="datatable">
       <thead><th>RNA Name</th><th>miRBase Acc</th><th width="300px">evidence</th><th>Chromosome</th></thead>
      {% for ost in items.object_list %}
          <tr class="{% cycle altrow,altrow2 %}">
            <td>{{ost.rnaName}}</td>
            <td><a href="http://www.mirbase.org/cgi-bin/query.pl?terms={{ ost.accNum }}">{{ost.accNum}} </a></td>
            <td><a href="http://www.ncbi.nlm.nih.gov/pubmed?term={{ ost.evidence }}">PMID:{{ost.evidence}} </a></td>
            <td>{{ost.chromosome}}</td>
          </tr>
       {% endfor %}
     </table>
{% else %}
    <p>No datas are available.</p>
{% endif %}
  <div class="pagination">
    <span class="step-links">
        {% if items.has_previous %}
            <a href="?page={{ items.previous_page_number }}&search={{search}}">PREVIOUS</a>
        {% endif %}
 
        <span class="current">
            Page {{ items.number }} of {{ items.paginator.num_pages }}.
        </span>
 
        {% if items.has_next %}
            <a href="?page={{ items.next_page_number }}&search={{search}}">NEXT</a>
        {% endif %}
    </span>
  </div>
</td>
            <td class="boxr">&nbsp;</td>
          </tr>		  
          <tr>
            <td class="boxbl">&nbsp;</td>
            <td class="boxb">&nbsp;</td>
            <td class="boxbr">&nbsp;</td>
          </tr>         
        </table></td>
</tr>
{% include 'includes/footer.html' %}
