{% include 'includes/header.html' %}

<div class="grid_6">
<div id="gene_search">
<h2>Gene</h2>
<form>
<input type="text" name="gene" value="Gene Symbol">
<input type="submit" value="Search">
</form>
</div>
<div id="mirna_search">
<h2>miRNA</h2>
<form>
<input type="text" name="gene" value="MiRNA name">
<input type="submit" value="Search">
</form>
</div>
<div id="lncrna_search">
<h2>LncRNA</h2>
<form>
<input type="text" name="gene" value="LncRNA name">
<input type="submit" value="Search">
</form>
</div>
<div id="pathway_search">
<h2>Pathway</h2>
<form>
<input type="text" name="gene" value="Pathway name">
<input type="submit" value="Search">
</form>
</div>
</div>

<div class="grid_6">
<div id="search_help">
<h2>Help</h2>
</div>
</div>

{% include 'includes/footer.html' %}
