{% include 'includes/header.html' %}

<tr>
  <td colspan="3"><table border="0" cellpadding="0" cellspacing="0" class="box">
          <tr>
            <td class="boxtl">&nbsp;</td>
            <td class="boxh">&nbsp;</td>
            <td class="boxtr">&nbsp;</td>
          </tr>
          <tr>
            <td class="boxl">&nbsp;</td>
            <td class="boxfill"><h2>Gene</h2>
				<form action="/ostbase/genes/" method="get">
				<input type="text" name="search" value="Gene Symbol">
				<input type="submit" value="Search">
				</form></td>
            <td class="boxr">&nbsp;</td>
          </tr>
		  <tr>
            <td class="boxl">&nbsp;</td>
            <td class="boxfill"><h2>miRNA</h2>
				<form>
				<input type="text" name="gene" value="MiRNA name">
				<input type="submit" value="Search">
				</form></td>
            <td class="boxr">&nbsp;</td>
          </tr>
		  <tr>
            <td class="boxl">&nbsp;</td>
            <td class="boxfill"><h2>LncRNA</h2>
				<form>
				<input type="text" name="gene" value="LncRNA name">
				<input type="submit" value="Search">
				</form></td>
            <td class="boxr">&nbsp;</td>
          </tr>
		  <tr>
            <td class="boxl">&nbsp;</td>
            <td class="boxfill"><h2>Pathway</h2>
				<form>
				<input type="text" name="gene" value="Pathway name">
				<input type="submit" value="Search">
				</form></td>
            <td class="boxr">&nbsp;</td>
          </tr>
          <tr>
            <td class="boxbl">&nbsp;</td>
            <td class="boxb">&nbsp;</td>
            <td class="boxbr">&nbsp;</td>
          </tr>         
        </table></td>
</tr>


{% include 'includes/footer.html' %}
